<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new Data</h1>
    <form method="post" action="/user">
        <input type="text" placeholder="Enter the username" name="username"><br>
        <input type="email" placeholder="Enter the Email" name="email"> <br>
        <input type="password" placeholder="Enter the password" name="password"><br>

        <button>Submit</button>
    </form>
</body>
</html>